In [1]:
import os
import pandas as pd
import csv
import numpy as np

# clean act data scores

ACT_18 = "ACT scores/ACT_HIGHEST_2018_FEB_24_2020.csv"

ACT2018DF = pd.read_csv(ACT_18)
ACT2018DF.head()

,LONG_SCHOOL_YEAR,SCHOOL_DISTRCT_CD,SCHOOL_DSTRCT_NM,INSTN_NUMBER,INSTN_NAME,SUBGRP_DESC,TEST_CMPNT_TYP_CD,NATIONAL_NUM_TESTED_CNT,STATE_NUM_TESTED_CNT,DSTRCT_NUM_TESTED_CNT,INSTN_NUM_TESTED_CNT,NATIONAL_AVG_SCORE_VAL,STATE_AVG_SCORE_VAL,DSTRCT_AVG_SCORE_VAL,INSTN_AVG_SCORE_VAL
0,2017-18,601,Appling County,103,Appling County High School,All Students,Composite,1914817,45081,29,29,20.8,21.0,20.8,20.8
1,2017-18,601,Appling County,103,Appling County High School,All Students,English,1914817,45077,29,29,20.2,20.4,19.8,19.8
2,2017-18,601,Appling County,103,Appling County High School,All Students,Mathematics,1914817,45080,29,29,20.5,20.4,20.4,20.4
3,2017-18,601,Appling County,103,Appling County High School,All Students,Reading,1914817,45076,29,29,21.3,21.7,22.0,22.0
4,2017-18,601,Appling County,103,Appling County High School,All Students,Science,1914817,45077,29,29,20.7,21.0,20.1,20.1

In [2]:

ACT2018DF = ACT2018DF[["SCHOOL_DISTRCT_CD", "SCHOOL_DSTRCT_NM", "TEST_CMPNT_TYP_CD", "STATE_AVG_SCORE_VAL", "DSTRCT_AVG_SCORE_VAL"]]
ACT2018DF.head(20)

,SCHOOL_DISTRCT_CD,SCHOOL_DSTRCT_NM,TEST_CMPNT_TYP_CD,STATE_AVG_SCORE_VAL,DSTRCT_AVG_SCORE_VAL
0,601,Appling County,Composite,21.0,20.8
1,601,Appling County,English,20.4,19.8
2,601,Appling County,Mathematics,20.4,20.4
3,601,Appling County,Reading,21.7,22.0
4,601,Appling County,Science,21.0,20.1
5,601,Appling County,Writing Subscore,6.9,NaN
6,602,Atkinson County,Composite,21.0,NaN
7,602,Atkinson County,English,20.4,NaN
8,602,Atkinson County,Mathematics,20.4,NaN
9,602,Atkinson County,Reading,21.7,NaN
10,602,Atkinson County,Science,21.0,NaN
11,602,Atkinson County,Writing Subscore,6.9,NaN
12,603,Bacon County,Composite,21.0,16.6
13,603,Bacon County,English,20.4,15.4
14,603,Bacon County,Mathematics,20.4,16.5
15,603,Bacon County,Reading,21.7,17.1
16,603,Bacon County,Science,21.0,16.7
17,603,Bacon County,Writing Subscore,6.9,NaN
18,604,Baker County,Composite,21.0,NaN
19,604,Baker County,English,20.4,NaN

In [3]:
ACT2018DF = ACT2018DF.loc[(ACT2018DF["TEST_CMPNT_TYP_CD"] == "Composite") |  
                                    (ACT2018DF["TEST_CMPNT_TYP_CD"] == "Science") |
                                    (ACT2018DF["TEST_CMPNT_TYP_CD"] == "Mathematics") |
                                    (ACT2018DF["TEST_CMPNT_TYP_CD"] == 'Reading') |
                                    (ACT2018DF["TEST_CMPNT_TYP_CD"] == 'Writing Subscore'),:] 



ACT2018DF

,SCHOOL_DISTRCT_CD,SCHOOL_DSTRCT_NM,TEST_CMPNT_TYP_CD,STATE_AVG_SCORE_VAL,DSTRCT_AVG_SCORE_VAL
0,601,Appling County,Composite,21.0,20.8
2,601,Appling County,Mathematics,20.4,20.4
3,601,Appling County,Reading,21.7,22.0
4,601,Appling County,Science,21.0,20.1
5,601,Appling County,Writing Subscore,6.9,NaN
...,...,...,...,...,...
2489,7991894,State Schools- Georgia Academy for the Blind,Science,21.0,NaN
2490,7991895,State Schools- Georgia School for the Deaf,Composite,21.0,NaN
2492,7991895,State Schools- Georgia School for the Deaf,Mathematics,20.4,NaN
2493,7991895,State Schools- Georgia School for the Deaf,Reading,21.7,NaN
2494,7991895,State Schools- Georgia School for the Deaf,Science,21.0,NaN

In [12]:
#find the standard deviation

loc_com = ACT2018DF.loc[(ACT2018DF["TEST_CMPNT_TYP_CD"] == "Composite"), :]
comb_score_std = loc_com.groupby(["TEST_CMPNT_TYP_CD"])["DSTRCT_AVG_SCORE_VAL"].std()
comb_score_std = int(comb_score_std)
comb_score_std

2

In [4]:
comb_state_avg = 21.0
buffer = 2

bins = [0, (comb_state_avg-buffer), (comb_state_avg+buffer), 36]
group_labels = ["Below Average", "Average", "Average", "Above Average"]

#What am I doing wrong?


conditions = [(ACT2018DF["DSTRCT_AVG_SCORE_VAL"] < (ACT2018DF["STATE_AVG_SCORE_VAL"] - buffer)),
              (ACT2018DF["DSTRCT_AVG_SCORE_VAL"] >= (ACT2018DF["STATE_AVG_SCORE_VAL"] - buffer)) & (ACT2018DF["DSTRCT_AVG_SCORE_VAL"]<= (ACT2018DF["STATE_AVG_SCORE_VAL"] + buffer)),
              (ACT2018DF["DSTRCT_AVG_SCORE_VAL"] > (ACT2018DF["STATE_AVG_SCORE_VAL"] + buffer))
              ]

values = ["Below Average", "Average", "Above Average"]

ACT2018DF["Bracket"] = np.select(conditions, values)
ACT2018DF

,SCHOOL_DISTRCT_CD,SCHOOL_DSTRCT_NM,TEST_CMPNT_TYP_CD,STATE_AVG_SCORE_VAL,DSTRCT_AVG_SCORE_VAL,Bracket
0,601,Appling County,Composite,21.0,20.8,Average
2,601,Appling County,Mathematics,20.4,20.4,Average
3,601,Appling County,Reading,21.7,22.0,Average
4,601,Appling County,Science,21.0,20.1,Average
5,601,Appling County,Writing Subscore,6.9,NaN,0
...,...,...,...,...,...,...
2489,7991894,State Schools- Georgia Academy for the Blind,Science,21.0,NaN,0
2490,7991895,State Schools- Georgia School for the Deaf,Composite,21.0,NaN,0
2492,7991895,State Schools- Georgia School for the Deaf,Mathematics,20.4,NaN,0
2493,7991895,State Schools- Georgia School for the Deaf,Reading,21.7,NaN,0
2494,7991895,State Schools- Georgia School for the Deaf,Science,21.0,NaN,0

In [5]:
#find the sum of each each ACT catagory by county 
countyname = ACT2018DF.groupby(['SCHOOL_DSTRCT_NM'])


test_com = ACT2018DF.loc[ACT2018DF["TEST_CMPNT_TYP_CD"] == 'Composite']
test_sci = ACT2018DF.loc[ACT2018DF["TEST_CMPNT_TYP_CD"] == 'Science']
test_math = ACT2018DF.loc[ACT2018DF["TEST_CMPNT_TYP_CD"] == 'Mathematics']
test_read = ACT2018DF.loc[ACT2018DF["TEST_CMPNT_TYP_CD"] == 'Reading']
test_wri = ACT2018DF.loc[ACT2018DF["TEST_CMPNT_TYP_CD"] == 'Writing Subscore']

In [6]:
#Each group still has duplicate schools 
#Drop Duplicates
test_com2 = test_com.drop_duplicates(subset=('SCHOOL_DSTRCT_NM'))
#keep only the ave district value
ave_com_dis = test_com2[["SCHOOL_DISTRCT_CD", "SCHOOL_DSTRCT_NM", "STATE_AVG_SCORE_VAL", "DSTRCT_AVG_SCORE_VAL", "Bracket"]]

#repeat for other sets. 

test_sci2 = test_sci.drop_duplicates(subset=('SCHOOL_DSTRCT_NM'))
ave_sci_dis = test_sci2[[ "SCHOOL_DSTRCT_NM", "STATE_AVG_SCORE_VAL", "DSTRCT_AVG_SCORE_VAL", "Bracket"]]
test_math2 = test_math.drop_duplicates(subset=('SCHOOL_DSTRCT_NM'))
ave_math_dis = test_math2[[ "SCHOOL_DSTRCT_NM", "STATE_AVG_SCORE_VAL", "DSTRCT_AVG_SCORE_VAL", "Bracket"]]
test_read2 = test_read.drop_duplicates(subset=('SCHOOL_DSTRCT_NM'))
ave_read_dis = test_read2[["SCHOOL_DSTRCT_NM", "STATE_AVG_SCORE_VAL", "DSTRCT_AVG_SCORE_VAL", "Bracket"]]
test_wri2 = test_wri.drop_duplicates(subset=('SCHOOL_DSTRCT_NM'))
ave_wri_dis = test_wri2[["SCHOOL_DSTRCT_NM", "STATE_AVG_SCORE_VAL", "DSTRCT_AVG_SCORE_VAL", "Bracket"]]
ave_math_dis

,SCHOOL_DSTRCT_NM,STATE_AVG_SCORE_VAL,DSTRCT_AVG_SCORE_VAL,Bracket
2,Appling County,20.4,20.4,Average
8,Atkinson County,20.4,NaN,0
14,Bacon County,20.4,16.5,Below Average
20,Baker County,20.4,NaN,0
25,Baldwin County,20.4,17.3,Below Average
...,...,...,...,...
2470,Valdosta City,20.4,18.2,Below Average
2476,Vidalia City,20.4,19.7,Average
2482,State Schools- Atlanta Area School for the Deaf,20.4,14.4,Below Average
2487,State Schools- Georgia Academy for the Blind,20.4,NaN,0
2492,State Schools- Georgia School for the Deaf,20.4,NaN,0

In [7]:
#series of mergies to create the mane data frame
ave_com_dis1 = pd.merge(ave_com_dis, ave_math_dis, on="SCHOOL_DSTRCT_NM", how="outer", suffixes=("_com", "_math"))
ave_com_dis2 = pd.merge(ave_com_dis1, ave_sci_dis, on="SCHOOL_DSTRCT_NM", how="outer", suffixes=("", "_sci"))
ave_com_dis3 = pd.merge(ave_com_dis2, ave_read_dis, on="SCHOOL_DSTRCT_NM", how="outer", suffixes=("", "_read"))
ave_com_dis4 = pd.merge(ave_com_dis3, ave_wri_dis, on="SCHOOL_DSTRCT_NM", how="outer", suffixes=("", "_wri"))

ave_com_dis4

,SCHOOL_DISTRCT_CD,SCHOOL_DSTRCT_NM,STATE_AVG_SCORE_VAL_com,DSTRCT_AVG_SCORE_VAL_com,Bracket_com,STATE_AVG_SCORE_VAL_math,DSTRCT_AVG_SCORE_VAL_math,Bracket_math,STATE_AVG_SCORE_VAL,DSTRCT_AVG_SCORE_VAL,Bracket,STATE_AVG_SCORE_VAL_read,DSTRCT_AVG_SCORE_VAL_read,Bracket_read,STATE_AVG_SCORE_VAL_wri,DSTRCT_AVG_SCORE_VAL_wri,Bracket_wri
0,601,Appling County,21.0,20.8,Average,20.4,20.4,Average,21.0,20.1,Average,21.7,22.0,Average,6.9,NaN,0
1,602,Atkinson County,21.0,NaN,0,20.4,NaN,0,21.0,NaN,0,21.7,NaN,0,6.9,NaN,0
2,603,Bacon County,21.0,16.6,Below Average,20.4,16.5,Below Average,21.0,16.7,Below Average,21.7,17.1,Below Average,6.9,NaN,0
3,604,Baker County,21.0,NaN,0,20.4,NaN,0,21.0,NaN,0,21.7,NaN,0,NaN,NaN,NaN
4,605,Baldwin County,21.0,17.9,Below Average,20.4,17.3,Below Average,21.0,18.2,Below Average,21.7,18.5,Below Average,6.9,6.5,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,792,Valdosta City,21.0,19.1,Average,20.4,18.2,Below Average,21.0,19.5,Average,21.7,19.7,Average,6.9,6.5,Average
183,793,Vidalia City,21.0,20.1,Average,20.4,19.7,Average,21.0,19.6,Average,21.7,20.9,Average,6.9,5.7,Average
184,7991893,State Schools- Atlanta Area School for the Deaf,21.0,13.0,Below Average,20.4,14.4,Below Average,21.0,14.6,Below Average,21.7,12.2,Below Average,NaN,NaN,NaN
185,7991894,State Schools- Georgia Academy for the Blind,21.0,NaN,0,20.4,NaN,0,21.0,NaN,0,21.7,NaN,0,NaN,NaN,NaN
186,7991895,State Schools- Georgia School for the Deaf,21.0,NaN,0,20.4,NaN,0,21.0,NaN,0,21.7,NaN,0,NaN,NaN,NaN

In [13]:
#renaming columns
ave_act_scores = ave_com_dis4.rename(columns={'SCHOOL_DISTRCT_CD': 'District CD',
                                              'SCHOOL_DSTRCT_NM': 'District Name', 
                                              'STATE_AVG_SCORE_VAL_com': 'Average State Composite',
                                              'DSTRCT_AVG_SCORE_VAL_com': 'Average District Composite',
                                              'Bracket_com': "State Bracket Composite",
                                              'STATE_AVG_SCORE_VAL_math': 'Average State Mathmatics',
                                              'DSTRCT_AVG_SCORE_VAL_math': 'Average District Mathamatics', 
                                              'Bracket_math': "State Bracket Mathamatics",
                                              'STATE_AVG_SCORE_VAL': 'Average State Science',
                                              'DSTRCT_AVG_SCORE_VAL': 'Average District Science',
                                              'Bracket': 'State Bracket Science',
                                              'STATE_AVG_SCORE_VAL_read': 'Average State Reading',
                                              'DSTRCT_AVG_SCORE_VAL_read': "Average District Reading",
                                              'Bracket_read': 'State Bracket Reading',
                                              'STATE_AVG_SCORE_VAL_wri': 'Average State Writing Subscore',
                                              'DSTRCT_AVG_SCORE_VAL_wri': 'Average District Writing Subscore',
                                              'Bracket_wri': 'State Bracket Writing Subscore'})

ave_act_scores['District Name'].unique()

array(['Appling County', 'Atkinson County', 'Bacon County',
       'Baker County', 'Baldwin County', 'Banks County', 'Barrow County',
       'Bartow County', 'Ben Hill County', 'Berrien County',
       'Bibb County', 'Bleckley County', 'Brantley County',
       'Brooks County', 'Bryan County', 'Bulloch County', 'Burke County',
       'Butts County', 'Calhoun County', 'Camden County',
       'Candler County', 'Carroll County', 'Catoosa County',
       'Charlton County', 'Savannah-Chatham County',
       'Chattahoochee County', 'Chattooga County', 'Cherokee County',
       'Clarke County', 'Clayton County', 'Clinch County', 'Cobb County',
       'Coffee County', 'Colquitt County', 'Columbia County',
       'Cook County', 'Coweta County', 'Crawford County', 'Crisp County',
       'Dade County', 'Dawson County', 'Decatur County', 'DeKalb County',
       'Dodge County', 'Dooly County', 'Dougherty County',
       'Douglas County', 'Early County', 'Echols County',
       'Effingham County', 'Elbert County', 'Emanuel County',
       'Evans County', 'Fannin County', 'Fayette County', 'Floyd County',
       'Forsyth County', 'Franklin County', 'Fulton County',
       'Gilmer County', 'Glascock County', 'Glynn County',
       'Gordon County', 'Grady County', 'Greene County',
       'Gwinnett County', 'Habersham County', 'Hall County',
       'Hancock County', 'Haralson County', 'Harris County',
       'Hart County', 'Heard County', 'Henry County', 'Houston County',
       'Irwin County', 'Jackson County', 'Jasper County',
       'Jeff Davis County', 'Jefferson County', 'Jenkins County',
       'Johnson County', 'Jones County', 'Lamar County', 'Lanier County',
       'Laurens County', 'Lee County', 'Liberty County', 'Lincoln County',
       'Long County', 'Lowndes County', 'Lumpkin County', 'Macon County',
       'Madison County', 'Marion County', 'McDuffie County',
       'McIntosh County', 'Meriwether County', 'Miller County',
       'Mitchell County', 'Monroe County', 'Montgomery County',
       'Morgan County', 'Murray County', 'Muscogee County',
       'Newton County', 'Oconee County', 'Oglethorpe County',
       'Paulding County', 'Peach County', 'Pickens County',
       'Pierce County', 'Pike County', 'Polk County', 'Pulaski County',
       'Putnam County', 'Quitman County', 'Rabun County',
       'Randolph County', 'Richmond County', 'Rockdale County',
       'Schley County', 'Screven County', 'Seminole County',
       'Griffin-Spalding County', 'Stephens County', 'Stewart County',
       'Sumter County', 'Talbot County', 'Taliaferro County',
       'Tattnall County', 'Taylor County', 'Telfair County',
       'Terrell County', 'Thomas County', 'Tift County', 'Toombs County',
       'Towns County', 'Treutlen County', 'Troup County', 'Turner County',
       'Twiggs County', 'Union County', 'Thomaston-Upson County',
       'Walker County', 'Walton County', 'Ware County', 'Warren County',
       'Washington County', 'Wayne County', 'Webster County',
       'Wheeler County', 'White County', 'Whitfield County',
       'Wilcox County', 'Wilkes County', 'Wilkinson County',
       'Worth County', 'Atlanta Public Schools', 'Bremen City',
       'Buford City', 'Calhoun City', 'Carrollton City',
       'Cartersville City', 'Chickamauga City', 'Commerce City',
       'Dalton Public Schools', 'Decatur City', 'Dublin City',
       'Gainesville City', 'Jefferson City', 'Marietta City',
       'State Charter Schools- Mountain Education Center School',
       'State Charter Schools- Provost Academy Georgia',
       'State Charter Schools- Georgia Connections Academy',
       'Commission Charter Schools- CCAT School',
       'Commission Charter Schools- Fulton Leadership Academy',
       'Pelham City', 'Rome City', 'Social Circle City',
       'Thomasville City', 'Trion City', 'Valdosta City', 'Vidalia City',
       'State Schools- Atlanta Area School for the Deaf',
       'State Schools- Georgia Academy for the Blind',
       'State Schools- Georgia School for the Deaf'], dtype=object)

In [10]:
#export to csv
#ave_act_scores.to_csv('ACT scores/AVE_ACT_Scores_dis')

#Filter District Name row to remove the city schools at the end.

District Name
Appling County           NaN
Atkinson County          NaN
Atlanta Public Schools   NaN
Bacon County             NaN
Baker County             NaN
                          ..
Whitfield County         NaN
Wilcox County            NaN
Wilkes County            NaN
Wilkinson County         NaN
Worth County             NaN
Name: Average District Composite, Length: 187, dtype: float64

In [15]:
school = [row for row in ave_act_scores['District Name'] if 'School' in row]
city = [row for row in ave_act_scores['District Name'] if 'City' in row]
print(city)

['Bremen City', 'Buford City', 'Calhoun City', 'Carrollton City', 'Cartersville City', 'Chickamauga City', 'Commerce City', 'Decatur City', 'Dublin City', 'Gainesville City', 'Jefferson City', 'Marietta City', 'Pelham City', 'Rome City', 'Social Circle City', 'Thomasville City', 'Trion City', 'Valdosta City', 'Vidalia City']