In [52]:
#Test run. will make new df for even more clean data
#depenencies
import pandas as pd
import os 
import numpy as numpy

In [114]:
#paths

lunch_df = pd.read_csv("lunch data/free_reduced_lunch1718.csv")
act_df = pd.read_csv("actdata/AVE_ACT_Scores_dis")
#lunch_df.head(15)
act_df.head()
#act_df.columns

,Unnamed: 0,District CD,District Name,Average State Composite,Average District Composite,State Bracket Composite,Average State Mathmatics,Average District Mathamatics,State Bracket Mathamatics,Average State Science,Average District Science,State Bracket Science,Average State Reading,Average District Reading,State Bracket Reading,Average State Writing Subscore,Average District Writing Subscore,State Bracket Writing Subscore
0,0,601,Appling County,21.0,20.8,Average,20.4,20.4,Average,21.0,20.1,Average,21.7,22.0,Average,6.9,NaN,0
1,1,602,Atkinson County,21.0,NaN,0,20.4,NaN,0,21.0,NaN,0,21.7,NaN,0,6.9,NaN,0
2,2,603,Bacon County,21.0,16.6,Below Average,20.4,16.5,Below Average,21.0,16.7,Below Average,21.7,17.1,Below Average,6.9,NaN,0
3,3,604,Baker County,21.0,NaN,0,20.4,NaN,0,21.0,NaN,0,21.7,NaN,0,NaN,NaN,NaN
4,4,605,Baldwin County,21.0,17.9,Below Average,20.4,17.3,Below Average,21.0,18.2,Below Average,21.7,18.5,Below Average,6.9,6.5,Average

In [121]:
#make list for variables to append for the ACT data
act_district_id = act_df["District CD"].to_list()
act_county_nm = act_df["District Name"].to_list()
district_avg = act_df["Average District Composite"].to_list()
state_avg_bracket = act_df["State Bracket Composite"].to_list()
state_avg = act_df["Average State Composite"].to_list()

#act_district_id

In [112]:
#make list for variables to append for the F&R lunch

district_id = lunch_df['State Agency ID [District] 2017-18'].to_list()
county_nm = lunch_df['Agency Name'].to_list()
grades_9to12_stu = lunch_df['Grades 9-12 Students [District] 2017-18'].to_list()

In [124]:
#create dictionary from list of ACT data
act_dict = {"District ID": act_district_id, "County Name":act_county_nm, 
            "District Average Composite Score":district_avg, "State Composite Bracket":state_avg_bracket, 
            "State Average Composite":state_avg}

act_clean_df_sy = pd.DataFrame(act_dict)
act_clean_df_sy

,District ID,County Name,District Average Composite Score,State Composite Bracket,State Average Composite
0,601,Appling County,20.8,Average,21.0
1,602,Atkinson County,NaN,0,21.0
2,603,Bacon County,16.6,Below Average,21.0
3,604,Baker County,NaN,0,21.0
4,605,Baldwin County,17.9,Below Average,21.0
...,...,...,...,...,...
182,792,Valdosta City,19.1,Average,21.0
183,793,Vidalia City,20.1,Average,21.0
184,7991893,State Schools- Atlanta Area School for the Deaf,13.0,Below Average,21.0
185,7991894,State Schools- Georgia Academy for the Blind,NaN,0,21.0
186,7991895,State Schools- Georgia School for the Deaf,NaN,0,21.0

In [104]:
#create dictionary then create df with new lists
new_dict = {"District ID":district_id, "County Name":county_nm, "Grades 9-12 Students": grades_9to12_stu}

clean_lunch_df = pd.DataFrame(new_dict)

# do array fill so array can be same length and then can merge. 


clean_lunch_df

     District ID             County Name  Grades 9-12 Students
0            601          APPLING COUNTY                1005.0
1            602         ATKINSON COUNTY                 488.0
2            761  ATLANTA PUBLIC SCHOOLS               12244.0
3            603            BACON COUNTY                 577.0
4            604            BAKER COUNTY                  78.0
..           ...                     ...                   ...
227          755        WHITFIELD COUNTY                3850.0
228          756           WILCOX COUNTY                 320.0
229          757           WILKES COUNTY                 429.0
230          758        WILKINSON COUNTY                 405.0
231          759            WORTH COUNTY                 868.0

[232 rows x 3 columns]

In [109]:
#clean_lunch_df.to_csv("clean_lunch_df.csv", index=False, header=True)
#manually deleted rows from csv file instead of coding them out. ^^ use to reset

In [126]:
#act_clean_df_sy.to_csv("act_clean_df_sy.csv", index=False, header=True)
#manually delete rows from cvs to clean. ^^ used to reset